.About {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.code-wrapper {
  grid-column-start: 1;
  display: block;
  width: 100%;
  height: auto;
  line-height: 1.5;
  font-size: 14px;
  margin: auto;
}

.about-output-wrapper {
  grid-column-start: 2;
  text-align: center;
  padding: 0px 50px;
  display: block;
  margin: auto;
}

.code-line {
  width: auto;
}

.code-line:hover {
  background-color: var(--code-hover);
}

.code-num {
  display: inline-block;
  margin-right: 30px;
  color: var(--sub-heading-col);
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  padding-right: 10px;
  text-align: right;
  width: 18px;
}

.code-text {
  display: inline-block;
  word-spacing: 4px;
  color: var(--code-col);
}

.code-method {
  color: var(--code-method);
}
.code-var {
  color: var(--code-var);
}

.code-comment {
  color: var(--sub-heading-col);
}

.code-alt {
  color: var(--code-alt);
}

.code-string {
  color: var(--code-string);
}

.code-indent1::before {
  content: ". . ";
  color: var(--code-dot);
}
.code-indent2::before {
  content: ". . . . ";
  color: var(--code-dot);
}
.code-indent3::before {
  content: ". . . . . . ";
  color: var(--code-dot);
}
.code-indent4::before {
  content: ". . . . . . . . ";
  color: var(--code-dot);
}

@media (max-width: 800px) {
  .code-num {
    display: none;
  }
  .code-wrapper {
    margin: 0 auto;
    width: 85%;
  }
  .code-indent1::before {
    content: "";
    color: var(--code-dot);
  }
  .code-indent2::before {
    content: ". ";
    color: var(--code-dot);
  }
  .code-indent3::before {
    content: ". . ";
    color: var(--code-dot);
  }
  .code-indent4::before {
    content: ". . . ";
    color: var(--code-dot);
  }
}
@media (max-width: 1000px) {
  .about-output-wrapper {
    padding: 15px;
  }
}

@media (max-width: 1250px) {
  .About {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .about-output-wrapper {
    display: none;
  }
}
