.workCard {
  background-color: var(--work-card);
  display: inline-block;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  cursor: pointer;
  vertical-align: top;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 50px;
  transition: all 2s ease-out !important;
  opacity: 0;
}

.workCard:hover {
  transform: scale(1.1);
}

.workCard img {
  width: 100%;
}

.work-text {
  margin-top: -7px;
  padding: 0 15px;
  font-size: 14px;
  text-align: left;
  color: var(--work-text);
}

.work-text h3 {
  font-weight: 500;
}

.work-text ul {
  margin-top: -7px;
}

.work-text li {
  list-style: none;
}

.work-text li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--highlight-col); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -3em;
}

@keyframes scale {
  0% {
    transform: scale(0);
    transform-origin: 50% 50%;
    opacity: 0;
  }
  50% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }
  100% {
    opacity: 1;
  }
}

.item1 {
  animation: scale 0.7s ease-out 1 forwards;
  animation-delay: 0.1s;
}
.item2 {
  animation: scale 0.7s ease-out 1 forwards;
  animation-delay: 0.3s;
}
.item3 {
  animation: scale 0.7s ease-out 1 forwards;
  animation-delay: 0.5s;
}
.item4 {
  animation: scale 0.7s ease-out 1 forwards;
  animation-delay: 0.7s;
}
.item5 {
  animation: scale 0.7s ease-out 1 forwards;
  animation-delay: 0.9s;
}
.item6 {
  animation: scale 0.7s ease-out 1 forwards;
  animation-delay: 1.1s;
}
.item7 {
  animation: scale 0.7s ease-out 1 forwards;
  animation-delay: 1.3s;
}
.item8 {
  animation: scale 0.7s ease-out 1 forwards;
  animation-delay: 1.5s;
}
.item9 {
  animation: scale 0.7s ease-out 1 forwards;
  animation-delay: 2.9s;
}
.item10 {
  animation: scale 1s ease-out 1 forwards;
  animation-delay: 5.5s;
}
.item11 {
  animation: scale 1s ease-out 1 forwards;
  animation-delay: 6s;
}
.item12 {
  animation: scale 1s ease-out 1 forwards;
  animation-delay: 6.5s;
}
.item13 {
  animation: scale 1s ease-out 1 forwards;
}
.item14 {
  animation: scale 1s ease-out 1 forwards;
}
.item15 {
  animation: scale 1s ease-out 1 forwards;
}
.item16 {
  animation: scale 1s ease-out 1 forwards;
}
.item17 {
  animation: scale 1s ease-out 1 forwards;
}
